{{!< default}}

{{> header}}

<main class="content" role="main">

    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{date format="YYYY-MM-DD"}}</time>
                <span class="post-tags"><i class="fa fa-tag" aria-hidden="true"></i>{{tags}}</span>
				<span class="post-Comments"><i class="fa fa-comment" aria-hidden="true"></i><a href="{{url}}#disqus_thread">Comments</a></span>
            </span>
			
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt">
			{{#if image}}<a rel="nofollow" href="{{url}}"><img class="post-image" src="{{image}}" alt="{{{title}}}" /></a>{{/if}}
            {{excerpt words="20"}} ... 
			<div class="more-box clear-fix"><a class="read-more" rel="nofollow" href="{{url}}">Read more &raquo;</a></div>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>